@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: '100%';
    width: '100%';
}

.bg-gradient {
    background: rgb(249,99,99);
background: radial-gradient(circle, rgba(249,99,99,1) 51%, rgba(255,255,255,1) 76%);
}

#weather-card1 {
    background-color: rgba(0, 0, 0, 0.75);
}

#background{ 
    background-color: rgba(249,99,99,0.5);
}